<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/">Discipline your routine</a>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/about">Sobre nosotros</a></li>
  </ul>
  <div class="navbar-actions">
    <button *ngIf="!isLoggedIn" routerLink="/login">Iniciar sesión</button>
    <button *ngIf="!isLoggedIn" routerLink="/register">Registrarse</button>

    <!-- Placeholder para cuando haya sesión iniciada -->
    <span *ngIf="isLoggedIn">Bienvenido, {{ role }}</span>
  </div>
</nav>
